.navli{
  text-decoration: none;
  font-style: normal;
  display: flex;
 
  align-items: center;

  font-size: medium;
  font-weight: 500;
  
}
.navli li{
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 15px;
  
}
.navli li:hover{
  background-color: rgba(94, 127, 160, 0.514);
  padding: 10px 10px;
  border-radius: 15px;
  color: white;
 
}
.name{
  font-size: 1.5rem;
}

.logo{
  width: 50px;
  height: 50px;
}
.navmain{
  background-color:#EEF1FF ;
}

.imgs{
  margin: 0 2rem;
}


.imgs img {
  width: 70rem;
  height: 25rem;
}